version: "3.9"

services:
  postgres:
    image: postgres:14.1-alpine
    env_file:
      - ./.env.dev
    ports:
      - "5432:5432"

  mailhog:
    image: mailhog/mailhog:latest
    restart: always
    ports:
      - "1025:1025"
      - "8025:8025"

  redis:
    image: 'redis:alpine'
  celery:
    restart: always
    build:
      context: .
    command: celery -A shop worker -l info
    env_file:
      - ./.env.dev
    depends_on:
      - postgres
      - redis
      - api

  api:
    build:
      context: .
    ports:
      - "8000:8000"
    command: >
      sh -c "python3 manage.py migrate &&
             python3 manage.py runserver 0.0.0.0:8000"
    env_file:
      - ./.env.dev
    depends_on:
      - postgres
      - mailhog