version: "3.7"

services:
  postgres:
    image: postgres:14.1-alpine
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file:
      - .env
    ports:
      - "5432:5432"

  mailhog:
    image: mailhog/mailhog:latest
    ports:
      - "1025:1025"
      - "8025:8025"

  redis:
    image: redis:alpine
  celery:
    build:
      context: .
    command: celery -A shop worker -l info
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
      - api
  celery-beat:
    build: .
    command: celery -A proj beat -l info
    depends_on:
      - postgres
      - redis

  api:
    build:
      context: .
    ports:
      - "8000:8000"
    command: >
      sh -c "python3 manage.py migrate &&
             python3 manage.py runserver 0.0.0.0:8000"
    env_file:
      - .env
    depends_on:
      - postgres
      - mailhog

volumes:
  postgres_data: